# 二进制资源不做换行/文本处理
*.glb binary
*.gltf binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.mp3 binary
*.wav binary
*.ogg binary
*.m4a binary
